* {
  background-color: burlywood;
}
.App {
  text-align: center;
  font-family: 'Amatic SC', cursive;
  height: 100vh;
}
.main-img {
 width: 15rem;
 height: 15rem;
 border-radius: 120px;
 margin-top: 30px;
 position: relative;
}
.header-list {
margin-bottom: 70px;
}
li{
  display: inline;
  padding: 50px;
  font-size: 20px;
  font-weight: bold;
}
.typewriter {
  font-size: 50px;;
}
a {
text-decoration: none;
color: black;
padding: 10px;
border-bottom: 1px solid black;
}
a:hover {
  color:#ffe4c4;
}
.icons {
  padding: 5px 0 0 15px;
  display: flex;
}
.social-icons {
  bottom: 0;
  margin-bottom: 20px;
}
.paragraph {
  font-size: 22px;
  font-weight: bold;
}
.skill-logos {
  height: 100px;
  margin: 20px;
  transition: transform .2s;
}
.skill-logos:hover {
  transform: scale(1.5);
}
.certifications {
  height: 200px;
  transition: transform .2s;
  margin-top: 30px;
  margin: 0 20px;
}
.certifications:hover {
  transform: scale(1.3);
}
#name-field  {
 height: 30px;
 border-radius: 10px;
 width: 40%;
 margin: 10px;
 background-color: bisque;
 font-family: 'Amatic SC', cursive;
 font-size: 20px;
 text-align: center;
 outline: none;
}
#message-field {
  height: 200px;
  width: 40%;
  border-radius: 10px;
  margin: 10px;
  background-color: bisque;
  font-family: 'Amatic SC', cursive; font-size: 20px;
  outline: none;
  text-align:unset;
  
}
.contact-form {
  border: 2px solid black;
  width: 40%;
  justify-content: center;
  margin: 0 auto;
  
}
#contact-button {
  margin: 10px;
  margin-bottom: 20px;
  width: 40%;
  height: 30px;
  border-radius: 10px;
  background-color: bisque;
  font-family: 'Amatic SC', cursive;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.floral-img {
  margin-left: 300px;
  float: right;
  position: absolute;
  background-color: transparent;
  opacity: .8;
  margin-top: 80px;
}
#mongo-logo {
  width: 90%;
}
.project-img {
  height: 400px;
}
#resume {
  width: 40%;
  transition: transform .2s;
}
#resume:hover {
  transform: scale(1.3);
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.social-icons {
  position:absolute;
  left: 0;
  display: block;
}

@media screen and (max-width: 768px){
  .header-list {
    display: none;
  }
  .paragraph {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .floral-img {
    margin-left:170px;
    height: 300px;
    float: right;
    top: 345px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
