* {
  background-color: burlywood;
}
.App {
  text-align: center;
  font-family: 'Amatic SC', cursive;
}
.main-img {
 width: 15rem;
 height: 15rem;
 border-radius: 120px;
 margin-top: 30px;
}
.background-img {
  /* width: 120px;
  height: 120px; */
  float: right;
}
.header-list {
/* display: inline; */
margin-bottom: 70px;
}
li{
  display: inline;
  padding: 50px;
  font-size: 20px;
  font-weight: bold;
}
.typewriter {
  font-size: 50px;;
}
a {
text-decoration: none;
color: black;
padding: 10px;
border-bottom: 1px solid black;
}
a:hover {
  color:bisque;
}
.icons {
  padding: 5px 0 0 15px;
}
.social-icons {
  bottom: 0;
  margin-bottom: 20px;
}
.paragraph {
  font-size: 22px;
  font-weight: bold;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
}
.social-icons {
  position:absolute;
  left: 0;
  display: block;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
